<h1>Listing Articles</h1>
<%= link_to "New Article", new_article_path %>
<br/>
<%= link_to "All Articles", articles_path %>
<br/>
<br/>
Our blog has <%= Article.public_count %> articles and counting!


<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= article.title %>
        <%= article.text %>
        <%= link_to article.title, article %>
        <%= link_to 'Show', article_path(article) %>
        <%= link_to "Destroy", article_path(article), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
      </li>
    <% end %>
  <% end %>
</ul>
